<div class="container contact">
    <h1>About Me</h1>
    <p class="lead">I want to code.</p>
<div class="row">
  <div class="col-md-8 col-centered">
    <h3>There comes a time when you must decide what to do with your time.</h3>
      <p>Bitters normcore typewriter American Apparel art party retro. Fashion axe next level small batch Blue Bottle farm-to-table locavore. Austin PBR Tumblr ennui put a bird on it, typewriter 8-bit Brooklyn YOLO lomo meh narwhal Pinterest. Cornhole fixie tilde bitters vegan. Swag four loko synth bicycle rights organic quinoa. Biodiesel mumblecore swag yr, squid bespoke Tumblr artisan occupy tofu sartorial banh mi put a bird on it Cosby sweater deep v. Schlitz cray disrupt, hella selvage crucifix drinking vinegar before they sold out mumblecore.</p>

      <p>Gentrify flexitarian Banksy, bicycle rights VHS High Life cliche gluten-free scenester disrupt freegan tote bag. Helvetica normcore fixie art party, kogi blog drinking vinegar readymade. Vinyl keytar pickled twee ennui put a bird on it, meggings squid bespoke viral authentic crucifix. Mumblecore gentrify XOXO, Helvetica High Life twee normcore mlkshk Austin sriracha selfies cornhole pop-up Neutra quinoa. Put a bird on it wayfarers scenester synth locavore. Gentrify semiotics Shoreditch, wolf pug lomo cliche artisan 90's banh mi mixtape. Etsy Thundercats raw denim, disrupt asymmetrical Intelligentsia swag sriracha polaroid pug. </p>
    </div>
  </div>
</div> <!-- /container -->

      <hr>