<br>


<div class="container">
<div class="col-md-8">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.29840305828!2d13.43639299999999!3d52.528035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e126b6e2efd%3A0xc281c457bba00f76!2sVolkspark+Friedrichshain!5e0!3m2!1sen!2sde!4v1414568506094" width="100%" height="450" frameborder="0" style="border:0"></iframe>
</div><!-- col-md-4 -->


    <div class="col-md-4">
      <address>
        <strong>Fernando Encinas</strong><br>
        Prenzlauer Berg<br>
        Berlin, DE 10405<br>
      </address>
        <address>
          <p>
            <span class="glyphicon glyphicon-envelope"></span>
            &nbsp;&nbsp;<strong>General Contact:</strong>&nbsp;
            <a href="mailto:contact@task.ly">thedriftingnomad@gmail.com</a>
          </p>
          <p>
            <span class="glyphicon glyphicon-earphone"></span>
            &nbsp;&nbsp;<strong>Customer Support:</strong>&nbsp;
            <a href="mailto:support@task.ly">thedriftingnomad@gmail.com</a>
          </p>
          <p>
            <span class="glyphicon glyphicon-briefcase"></span>
            &nbsp;&nbsp;<strong>Job Inquiries:</strong>&nbsp;
            <a href="mailto:jobs@task.ly">thedriftingnomad@gmail.com</a>
          </p>       
        </address>        
    </div><!-- col-md-4 -->
  </div><!-- container -->

  <hr>

      <hr>